//here all colors from the project will be located and write as variable.

$white: #fff;
$black: #000;
$bombay: #adb1b9;
$manatee: #95979e;
$colonial-white: #ffd774;
$iron: #cfd0d0;
$havelock-blue: #6fa2e0;
$shady-lady: #a9a8a9;
$hint-of-head: #fcfbfc;
$spun-pearl: #ababb4;
